body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td { margin : 0; padding : 0; }
h1,h2,h3,h4,h5,h6 { font-size : 100%; }
/*ol,ul { list-style : none; }*/
address, caption, cite, code, dfn, em, strong, th, var{ font-style : normal; font-weight : normal; }
table { border-collapse : collapse; border-spacing : 0; }
fieldset,img { border : 0; }
ol,ul { list-style : none; }
caption,th { text-align : left; }
q:before, q:after { content :''; }


html 	{ text-align : left;  }
body { position : relative; width : 900px;font : 72%/1.5 Arial, Helvetica, sans-serif; color : #333; }
div#content { position : relative; width : 100%; }

div#branding {position : relative;z-index : 10;height : 30px;}
div#content_main {left : 20%; width : 78%;padding : 30px 40px; }

div#content_sub { left : 0;width : 17.5%;padding : 30px 10px;background-color:#ccc}

div#branding {width : 100%; }


div#branding {background-color:teal; color:#fff;}
div#branding h1{padding: 4px 10px}

h1, h2, h3 {font : 200% Arial, Helvetica, sans-serif;font-weight : bold; letter-spacing : -1px; }

h1{font-size : 180%;}
h2{font-size : 140%;}
h3{font-size : 130%;}
p{font-size : 115%;line-height:20px;}
strong{font-weight:bold;}

div#content_main h1{margin:20px 0 30px ;}
div#content_main h2{margin:20px 0 10px ;}
div#content_main h3{margin:10px 0 8px ;}

div#content_main p{padding-right:80px}

div#content_main .textfield {width:300px}
div#content_main .textfield-preis {width:30px}

/*tabellen*/
#tbl-termin{margin-top:15px;width:500px;}
#tbl-termin th{padding-bottom:5px;font-weight: bold;}
#tbl-termin td{padding-right:5px;}

.line-odd{background-color: #DADADA;}

#admin_menu{font-size:115%}
.preis{width: 40px;}

hr.a {height: 1px;border: 0 none;border-top: 1px dotted #999;margin:5px 0}

.online {color:#00CC00;}
.offline {color:#CC0000;}
.delete {color:#CC0000;}

/*bilder*/
 .list-pic{width:130px;height:230px;float:left;}

.clear{clear:both;}





/*Error*/
.fieldWithErrors {padding: 2px;background-color: red;display: table;}
#errorExplanation {width: 400px;border: 2px solid red;padding: 7px;padding-bottom: 12px;margin-bottom: 20px;background-color: #f0f0f0;}

#errorExplanation h2 {text-align: left;font-weight: bold;padding: 3px 5px 3px 15px;font-size: 12px;margin: -7px;background-color: #c00;color: #fff;}

#errorExplanation p {color: #333;margin-bottom: 0;padding: 3px;}
#errorExplanation ul li {font-size: 12px;list-style: square;margin-left:20px;}



/* =si_clear_children */
.pc,.sc { position : absolute; top: 0; left: 0; }
.clear_children,.cc_tallest { position: relative; } /*\*/* html .clear_children { display: inline;}/**/
.cc_tallest:after { content: ''; } /* PREVENTS A REDRAW BUG IN SAFARI */

